<header>
  <nav id="navbar">
    <div id="icon">
      <a href="/map/list/"><i class="fas fa-drafting-compass"></i></a>
      <a href="/map/initialize">Create Map</a>
      <a href="/user/favorites">My Favorites</a>
      <a href="/user/profile">My Profile</a>
    </div>

    <% if (user_email) { %>
    <form action="/user/logout" method="POST">
      <div id="navbarNavAltMarkup">
        <span>Logged In: <%= user_email %></span>
        <button class="btn btn-primary" type="submit">Logout</button>
      </div>
    </form>

    <% } else { %>
    <div>
      <a href="/user/login">User Login</a>
      <a href="/user/register">Create Account</a>
    </div>
    <% } %>
  </nav>
</header>
