<header>
  <nav id='navbar'>
    <div id="icon">
      <i class="fas fa-drafting-compass"></i>
      <button id="navNewTweetBut">Create Map</button>
      <button id="navNewTweetBut">My Favorites</button>
    </div>

    <div>
      <button id="navNewTweetBut">User Login</button>
      <button id="navNewTweetBut">Create Account</button>
    </div>
  </nav>
</header>
