<header>
  <nav id='navbar'>
    <div id="icon">
      <i class="fas fa-drafting-compass"></i>
      <a href = "../displays/createmap">Create Map</a>
      <a href = "../displays/favorites">My Favorites</a>
    </div>

    <div>
      <a href = "../users/login">User Login</a>
      <a href = "../users/register">Create Account</a>
    </div>
  </nav>
</header>
