.maplistContainer {
  background-color: hsl(0, 0%, 85%);
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin: 0px 0px 60px 0px;
  padding: 15px;
  border-radius: 10px;
}

.maplistInfo {
  display: flex;
  flex-direction: column;
}

.unfavButton {
  background-color: orange;
}

// .favButton {
//   background-color: Green;
// }

.title {
  font-size: 300%;
  // color: aquamarine;
  text-align: center;
  margin-bottom: 0px;
}

.maplistButtons button {
  margin: 10px 0;
  width: 105px;
}


