#about img{
  height: 150px
}
main{
  padding: 4.5em;
}

#about {
  background-color: grey;
  display: flex;
  flex-direction: row;
  padding: 1.5em;
}

#lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#profile_favorites{
  background-color: grey;
  margin-top: 70px;
  width: 400px;
  height: 400px;
  padding: 1.5em;
}

#profile_mymaps{
  background-color: grey;
  margin-top: 70px;
  width: 400px;
  height: 400px;
  padding: 1.5em;
}
